/*
 *  Font imports
 */

// @import url('https://fonts.googleapis.com/css?family=Muli:300,400');


/*
 * Font families
 */

$app-font:              'Muli', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;


/*
 * Colors
 */

$color-dark-blue:      #2baece;
$color-medium-blue:    #51ddff;
$color-light-blue:     #a4edff;
$color-white:          #ffffff;
$color-gray:           #667f86;
$color-dark: #383838;


/*
 * Application Variables
 */

$app-menu-width:        275px;
$app-topbar-height:     50px;