@import "_variables";
@import "_viewports";

html, body {
  margin: 0;
  min-height: 100vh;
  font-size: 10px;
}

body {
  font-size: 1.5rem;
  font-family: $app-font;
  background: $color-white;
}

hr {
  width: 100%;
  height: 1px;
  background: rgba($color-gray, 0.2);
  margin: 5rem 0 3rem;
  border: none;
}

.top-polygons {
  position: relative;
  overflow: hidden;
  height: 26rem;

  div {
    width: 130%;
    height: 400px;
    position: absolute;
    top: 0;
    left: -10%;
    outline: 1px solid transparent;
  }

  .dark {
    z-index: 2;
    background: rgba($color-gray, 0.8);
    margin-top: -400px + 20px;
    animation: polygon-top-dark-move 9s ease-in-out infinite;
  }

  .blue {
    background: $color-dark-blue;
    margin-top: -400px + 100px;
    animation: polygon-top-blue-move 11s ease-in-out infinite;
  }

  .light {
    background: rgba($color-light-blue, 0.24);
    margin-top: -400px + 100px;
    animation: polygon-top-light-move 8s ease-in-out infinite;
  }
}

.body {
  max-width: 660px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;

  @include viewports(up-to small) {
    padding: 0 2rem;
  }

  .logo {
    text-align: center;

    img {
      width: 212px;
    }

    .slogan {
      font-size: 2rem;
      color: $color-gray;
      font-weight: normal;

      strong {
        color: $color-dark-blue;
        background: url('imgs/underline.svg') no-repeat bottom left;
        background-size: 100% 7px;
        padding-bottom: 10px;
      }
    }
  }

  .main-text {
    max-width: 570px;
    margin: 10rem 0;
    
    p, .text {
      font-size: 1.8rem;
      line-height: 4.5rem;
      text-align: justify;
      font-weight: 300;
    }
  }

  .main-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;

    @include viewports(up-to small) {
      flex-direction: column;
      align-items: center;
      margin-top: -2rem;
    }

    .link {
      display: block;
      text-align: center;
      width: 145px;
      background: url('imgs/underline.svg') no-repeat bottom left;
      background-size: 100% auto;
      padding-bottom: 2rem;
      text-decoration: none;

      @include viewports(up-to small) {
        margin-bottom: 9rem;
      }

      h3 {
        margin: 0;
        font-size: 2rem;
        font-weight: 300;
        color: $color-dark-blue;
      }

      p {
        margin: 2rem 0;
        font-size: 1.4rem;
        font-weight: 300;
        color: $color-gray;
      }
    }

    .link:hover {
      display: block;
      text-align: center;
      width: 145px;
      background: url('imgs/underline.svg') no-repeat bottom left;
      background-size: 100% auto;
      padding-bottom: 2rem;
      text-decoration: none;
      background-color: $color-light-blue;

      @include viewports(up-to small) {
        margin-bottom: 9rem;
      }

      h3 {
        margin: 0;
        font-size: 2rem;
        font-weight: 300;
        color: $color-dark-blue;
      }

      p {
        margin: 2rem 0;
        font-size: 1.4rem;
        font-weight: 300;
        color: $color-gray;
      }
    }

  }

  .hero-text {
    text-align: center;
    margin: 13rem 0;
    font-size: 2rem;
    color: $color-dark;
    font-weight: 300;

    @include viewports(up-to small) {
      margin: 5rem 0;
      font-size: 1.6rem;
      padding: 0 2rem;
    }
  }
}

.footer {
  position: relative;
  background: url('imgs/bg-logo.svg') no-repeat bottom -50px center;
  background-size: 290px auto;
  padding-top: 4rem;
  margin-top: -10rem;

  .logo {
    width: 74px;
    position: absolute;
    bottom: 8%;
    left: 50%;
    margin-top: -50px;
    margin-left: -37px;
    z-index: 5;
  }

  .bottom-polygons {
    position: relative;
    overflow: hidden;
    height: 26rem;

    div {
      width: 130%;
      height: 400px;
      position: absolute;
      bottom: 0;
      left: -10%;
    }

    .blue {
      background: $color-dark-blue;
      margin-bottom: -400px + 100px;
      transform: rotate(4deg);
    }

    .light {
      background: $color-light-blue;
      margin-bottom: -400px + 100px;
      transform: rotate(-6deg);
    }
  }
}

.founders-advisors {
  margin: 5rem 0;

  .title {
    margin-top: 0;
    text-align: center;
    font-size: 2.4rem;
    color: $color-gray;
  }

  .person-list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;

    .person {
      margin-right: 2rem;
      border-right: 1px solid $color-light-blue;
      padding-right: 2rem;

      &:last-child {
        margin-right: 0;
        padding-right: 0;
        border-right: none;
      }

      a {
        font-size: 1.9rem;
        color: $color-dark-blue;
        text-decoration: none;
        padding: 0.5rem 0;
        transition: all 0.15s linear;

        &:hover {
          color: $color-gray;
          box-shadow: 0 3px $color-dark-blue;
        }
      }
    }
  }

  p {
    margin: 2rem 0;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
    text-align: justify;
    color: $color-gray;
  }
}

@keyframes polygon-top-dark-move {
  0% {
    transform: rotate(1deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1deg);
  }
}

@keyframes polygon-top-blue-move {
  0% {
    transform: rotate(10deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(8deg) translate3d(0, 20px, 0);
  }

  100% {
    transform: rotate(10deg) translate3d(0, 0, 0);
  }
}

@keyframes polygon-top-light-move {
  0% {
    transform: rotate(-10deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-8deg) translate3d(0, 20px, 0);
  }

  100% {
    transform: rotate(-10deg) translate3d(0, 0, 0);
  }
}
